@media (min-width: 0) {

	.cpnl-group {
		margin-bottom: 40px;
		overflow: hidden;
	}

	.cpnl-img {
		display: none;
	}

	.cpnl-bdr {
		width: 99%;
		padding: 10px;
		margin-bottom: 10px;
		overflow: hidden:
	}

	.cpnl-cpn-store {
		margin: 0;
		padding: 0;
		margin-bottom: 10px;
	}

	.cpnl-h3 {
		margin-bottom: 10px;
	}

	.cpnl-cpn {
		padding-left: 20px;
		overflow: hidden;
	}
	
	.cpnl-cc {
		overflow: hidden;
		margin-bottom: 10px;
	}
	
	.cpnl-gut {
		padding: 0;
	}

}

@media (min-width: 576px) {

	.cpnl-group {
		margin-bottom: 40px;
		overflow: hidden;
	}

	.cpnl-img {
		display: inline;
		background: #fff;
		float: left;
		margin-right: 20px;
	}

	.cpnl-bdr {
		width: 99%;
		padding: 10px;
		margin-bottom: 10px;
		overflow: hidden:
	}

	.cpnl-cpn-store {
		margin: 0;
		padding: 0;
		margin-bottom: 10px;
	}

	.cpnl-h3 {
		margin-bottom: 10px;
	}

	.cpnl-cpn {
		padding-left: 20px;
		overflow: hidden;
	}
	
	.cpnl-cc {
		overflow: hidden;
		margin-bottom: 10px;
		margin-right: 10px;
	}
	
	.cpnl-gut {
		padding: 0 20px 0 0;
	}

}

.cpnl-code {
	color: #fff;
	font-size: 16px;
}

.cpnl-ct {
	float: left;
	max-width: 23%;
	margin-right: 2%;
}

.cpnl-ed {
	margin-bottom: 10px;
}

.cpnl-copied {
	float: left;
	color: green;
	display: none;
}

.postbox{
	padding: 10px 20px!important;
}

.cpnl-button {
	text-align: left; 
	padding: 10px 0;
	font-size: 14px;
}	

.cpnl-btn, .cpnl-btn:hover {
	display: inline-block !important;
	padding: 8px 16px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	color: #333;
	background-color: #eee;
	border: none;
}

.cpnl-primary, .cpnl-primary:hover {
	color: #fff;
	background-color: #337ab7;
}

.cpnl-success, .cpnl-success:hover {
	color: #fff;
	background-color: #5cb85c;
}

.cpnl-danger, .cpnl-danger:hover {
	color: #fff;
	background-color: #dd4444;
}


.cpnl-danger {
	color: #fff;
	background-color: #d9534f;
}

.cpnl-info {
	color: #fff;
	background-color: #5bc0de;
}

.cpnl-warning {
	color: #fff;
	background-color: #f0ad4e;
}

.cpnl-anchor {
	display: inline-block;
}

input.cpnl-form-input[type=text] { 
	min-width: 300px; 
	font-size: 14px !important;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0); 
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0); 
	box-shadow: 0 0 8px rgba(0, 0, 0, 0);
}

select.cpnl-form-input { 
	min-width: 200px; 
	font-size: 14px !important;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0); 
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0); 
	box-shadow: 0 0 8px rgba(0, 0, 0, 0);
}

.cpnl-mr10 {
	margin-right: 10px;
}

.cpnl-mr20 {
	margin-right: 20px;
}

.cpnl-mr30 {
	margin-right: 30px;
}

.cpnl-mb5 {
	margin-bottom: 5px;
}

.cpnl-mb10 {
	margin-bottom: 10px;
}

.cpnl-mb20 {
	margin-bottom: 20px;
}

.cpnl-mb30 {
	margin-bottom: 30px;
}

.cpnl-mt5 {
	margin-top: 5px;
}

.cpnl-mt10 {
	margin-top: 10px;
}

.cpnl-mt20 {
	margin-top: 20px;
}

.cpnl-mt30 {
	margin-top: 30px;
}

.cpnl-pl5 {
	padding-left: 5px;
}

.cpnl-pl10 {
	padding-left: 10px;
}

.cpnl-pl20 {
	padding-left: 20px;
}

.cpnl-pt5 {
	padding-top: 5px;
}

.cpnl-pt10 {
	padding-top: 10px;
}

.cpnl-pt20 {
	padding-top: 20px;
}

.cpnl-pt30 {
	padding-top: 30px;
}

.cpnl-pl30 {
	padding-left: 30px;
}

.cpnl-ul {
    list-style-type: none;
}

.cpnl-li:before {
    content: "+";
    margin-right: 4px;
	font-weight: bold;
	color: #df4100;
}

a.cpnl-link, a.cpnl-link:hover {
	color: #fff;
	text-decoration: none;
}

.cpnl-small {
	line-height: normal; 
	font-size: 12px;
	color: #336699;
}

.cpnl-shortcode {
	line-height: normal; 
	font-weight: bold;
}

.cpnl-t2-cpn-bdr {
	margin-bottom: 10px;
	overflow: hidden;
	border-radius: 3px;
	border-color: #ddd;
	border-size: 1px;
	border-style: solid;
	padding: 5px;
}

.cpnl-t2-cpn-grid {
	display: grid;
}

.cpnl-t2-cpn-col {
	padding: 10px;
}

.cpnl-cpn-store {
	margin: none;
	font-size: 14px;
	line-height: normal; 
	margin-bottom: 10px;
}

.cpnl-cpn-offer {
	margin: none;
	font-size: 14px;
	line-height: normal; 
	margin-bottom: 10px;
	cursor: pointer;
}

.cpnl-cpn-date {
	margin: none;
	font-size: 14px;
	line-height: normal; 
	margin-bottom: 10px;
}

.cpnl-over {
	cursor: pointer;
	color: #fff;
	margin: none;
	font-size: 14px;
	line-height: normal; 
	margin-bottom: 10px;
	padding: 5px 20px;
}

.cpnl-input {
	text-align: left; 
	padding: 10px 0;
	font-size: 14px;
	line-height: normal;
}

.cpnl-input-big {
	text-align: left; 
	padding: 10px 0;
	font-size: 14px;
}

.cpnl-form-label {
	cursor: auto;
	display: block;
	margin-bottom: 5px;
	font-size: 14px;
	line-height: 1.3em;
}

.cpnl-form-label-big {
	display: block;
	line-height: normal;
	font-size: 1.3em;
	font-weight: 600;
}

li {
	margin: 0;
	padding: 0; 
	line-height: normal;
}

#wpcontent {
    padding-left: 0!important;
}

#wpfooter {
    position: relative!important;
}

.cpnl-plugin-container {
	min-height: 100vh;
}

.cpnl-body-inside {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 1fr;
}

.inner_wrapper {
	display: grid;
}

.cpnl-masthead {
	background: #fff;
	box-shadow: 0 1px 0 #ccd0d4, 0 1px 1px 1px rgb(0 0 0 / 4%);
}

.cpnl-masthead-inside {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
	text-align: left;
    max-width: 68rem;
	padding: 0 1rem;
}
	
.cpnl-body {
    margin: 0 auto;
    text-align: left;
    max-width: 68rem;
    padding: 0 1rem;
	
}

.cpnl-footer {
}